    @if (normalizedActivity(); as data) {
      <div class="activity-renderer-container">
        @switch (data.type) {
          @case ('mcq') {
            <app-activity-mcq 
              [activity]="data" 
              [showFeedback]="showFeedback"
              (answered)="onMCQAnswered($event)">
            </app-activity-mcq>
          }
          @case ('fill_blanks') {
            <app-activity-fill-blanks 
              [activity]="data" 
              [showFeedback]="showFeedback"
              (answered)="onBlanksAnswered($event)">
            </app-activity-fill-blanks>
          }
          @case ('flashcard') {
            <app-activity-flashcard 
              [activity]="data" 
              [showFeedback]="showFeedback"
              (answered)="onFlashcardAnswered($event)">
            </app-activity-flashcard>
          }
          @case ('match') {
            <app-activity-match 
              [activity]="data" 
              [showFeedback]="showFeedback"
              (answered)="onMatchAnswered($event)">
            </app-activity-match>
          }
          @case ('crossword') {
            <app-activity-crossword
              [activity]="data"
              [showFeedback]="showFeedback"
              (answered)="onCrosswordAnswered($event)">
            </app-activity-crossword>
          }
          @case ('word_arrange') {
            <app-activity-word-arrange
              [activity]="data"
              [showFeedback]="showFeedback"
              (answered)="onWordArrangeAnswered($event)">
            </app-activity-word-arrange>
          }
        }
      </div>
    }
